<div class=" xl:w-screen xl:pb-0 lg:pt-[100px]">
    <div class="flex flex-col justify-center items-center mx-[40px] lg:mx-[1px] work-sans xl:overflow-hidden">
        <h1 class="w-[300px] md:w-full text-[38px] xl:text-[64px] font-[700] xl:font-[800] text-center mt-[50px] lg:mt-[0px] mb-[70px] xl:mb-[100px] leading-[40px]">
            Why Clients Love Us
        </h1>
        <div class="flex xl:pl-[100px] lg:w-[95%] xl:w-max xl:ml-40 ">
            <MudCard Class="w-full h-[750px] md:h-[650px] lg:h-[358px]  xl:w-[878px] shadow-lg relative rounded-[16px] xl:mr-[50px] lg:mx-20">
                <div class="flex w-full h-full">
                    <div class="w-full h-[500px] lg:h-full bg-[var(--mud-palette-secondary)] rounded-[16px] flex flex-col items-center lg:justify-center lg:items-start pt-[40px] lg:pl-[40px] z-10 relative text-center lg:text-left p-8">
                        <div class="w-[164px]">
                            <div class="flex w-full justify-between">
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                            </div>
                        </div>
                        <p class="text-[var(--mud-palette-tertiary)] text-[15px] md:text-[18px] tracking-tighter mt-[10px] leading-[23px] w-[250px] md:w-full lg:w-[400px] min-w-[100px] p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida quis blandit turpis cursus in.</p>
                        <p class="text-[18px] font-[700] mt-[10px]">Nombre Apellido</p>
                        <p class="text-[var(--mud-palette-tertiary)] text-[17px]">Happy customer</p>
                    </div>
                    <MudCard Class="w-full lg:w-[358px] h-[358px] bg-[var(--mud-palette-warning-darken)] rounded-[16px] flex flex-col justify-center items-center shadow-lg absolute z-20 lg:top-[0px] lg:right-[0px] bottom-[0px]">
                        <div>
                            <MudImage Src="/assets/products/apple.png"/>
                        </div>
                        <p class="text-[24px] font-[700]">PRODUCT #5</p>
                    </MudCard>
                </div>
            </MudCard>
            <MudCard Class="hidden xl:block w-full h-[600px] md:w-[878px] md:h-[358px] shadow-lg relative rounded-[16px]">
                <div class="flex w-full h-full">
                    <div class="w-full h-[500px] lg:h-full bg-[var(--mud-palette-secondary)] rounded-[16px] flex flex-col items-center lg:justify-center lg:items-start pt-[40px] lg:pl-[40px] z-10 relative text-center lg:text-left p-8">
                        <div class="w-[164px]">
                            <div class="flex w-full justify-between">
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                                <MudImage Src="/assets/landing/reviews/1-star.svg" />
                            </div>
                        </div>
                        <p class="text-[var(--mud-palette-tertiary)] text-[15px] md:text-[18px] tracking-tighter mt-[10px] leading-[23px] w-full lg:w-[400px] min-w-[100px] p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida quis blandit turpis cursus in.</p>
                        <p class="text-[18px] font-[700] mt-[10px]">Nombre Apellido</p>
                        <p class="text-[var(--mud-palette-tertiary)] text-[17px]">Happy customer</p>
                    </div>
                    <MudCard Class="w-full md:w-[358px] h-[358px] bg-[var(--mud-palette-info-darken)] rounded-[16px] flex flex-col justify-center items-center shadow-lg absolute z-20 top-[310px] md:top-[0px] md:right-[0px]">
                        <div>
                            <MudImage Src="/assets/products/lettuce.png"/>
                        </div>
                        <p class="text-[24px] font-[700]">PRODUCT #5</p>
                    </MudCard>
                </div>
            </MudCard>   
        </div>
        <div class="flex justify-center items-center w-full bottom-[500px] mt-[50px] lg:mt-[100px] px-[70px] rounded-[16px]">
            <div class="flex">
                <MudButton>
                    <MudImage Src="/assets/landing/reviews/disabled-prev-arrow.png"/>
                </MudButton>
            <div class="bg-[var(--mud-palette-primary-lighten)] h-[93px] w-[2px] mx-[20px]"></div>
                <MudButton>
                    <MudImage Src="/assets/landing/reviews/next-arrow.png"/>
                </MudButton>
            </div>   
        </div>
    </div>
</div>
    