<MudCard Class="h-[708px] md:h-full lg:h-[300px] bg-[var(--mud-palette-info)] bg-no-repeat rounded-[16px] mx-[40px] md:mx-12 lg:mx-20 2xl:mx-44 shadow-lg mt-[100px] md:mt-28 lg:mt-18 bg-[url('/assets/landing/download/pink-bg.webp')] md:bg-[url('/assets/landing/download/desktop/pink-bg.webp')] bg-cover">
    <div class="h-full flex flex-col items-center justify-around lg:flex-row p-12 md:p-16 lg:p-14 xl:p-14">
        <div class="w-full text-center mb-[100px] lg:mb-0 lg:pr-[50px] flex justify-center">
            <p class="work-sans text-[36px] md:text-[55px] xl:text-[64px] font-[800] leading-none">
                Download Our App
            </p>
        </div>
        <div class="flex flex-col lg:flex-row lg:space-x-6">
            <div class=" flex flex-col items-center lg:items-center space-y-6 mt-10 lg:!mt-0">
                <MudImage Src="/assets/landing/download/apple.webp" Class="w-[200px] md:w-[270px] lg:w-[390px]"/>
                <MudImage Src="/assets/landing/download/google-play.png" Class="w-[200px] md:w-[270px] lg:w-[390px]"/>
            </div>
            <div class="mt-10 lg:!mt-0">
                <MudImage Src="/assets/landing/download/qr-code.png" Class="w-[200px] md:w-[270px] lg:w-[300px] "/>
            </div>
        </div>
        
    </div>
</MudCard>
