<div class="xl:w-screen xl:h-screen">
    <div class="mt-[100px] md:mt-20 h-max ">
        <div>
            <div class="md:hidden">
                <MudImage Src="/assets/landing/featured/beige-bg-top.webp"/>
            </div>
            <div class="hidden md:block">
                <MudImage
                    Src="/assets/landing/featured/desktop/beige-bg-top.webp"
                    Class="w-full" />
            </div>
        </div>
        <div class="bg-[var(--mud-palette-tertiary-darken)] flex flex-col items-center lg:justify-center md:h-[500px] lg:h-[870px]">
            <div class="w-full h-[70px] md:h-[80px] lg:h-[100px] xl:h-[150px] flex flex-col items-center justify-between mb-[50px] lg:mb-[20px] xl:mb-[70px] text-center leading-[35px]">
                <p class=" text-[20px] xl:text-[24px] lg:max-xl:text-[15px] font-[500] tracking-widest underline text-[var(--mud-palette-info)]">
                    TRENDING PRODUCTS
                </p>
                <h1 class="text-[35px] xl:text-[64px] font-[800] work-sans">
                    Featured Products
                </h1>
            </div>
            <div>
                <div class="h-[600px] md:h-[300px] lg:my-[40px] xl:my-[25px] flex justify-center flex-wrap w-[320px] md:min-w-[500px] md:w-[550px] lg:w-[800px] xl:w-[1200px] 2xl:w-[1500px] xl:h-[200px] gap-x-4 md:gap-x-4 gap-y-2 lg:gap-x-16 xl:gap-x-6 lg:gap-y-8 text-[17px] lg:text-[18px] xl:text-[24px] tracking-wide">
                    <div class="flex flex-col items-center">
                        <MudCard Class="w-[144px] h-[180px] md:w-[124px] md:h-[160px] lg:w-[164px] lg:h-[210px] xl:w-[220px] xl:h-[280px] 2xl:w-[280px] 2xl:h-[350px] bg-[var(--mud-palette-primary-lighten)] rounded-[16px] flex justify-center items-center shadow-lg px-4">
                            <div>
                                <MudImage Src="/assets/products/carrots.png"/>
                            </div>
                        </MudCard>
                        <div class="text-center">
                            <p class="tracking-tight font-[900] my-[7px] lg:my-[10px] xl:my-[20px]">PRODUCT #1</p> 
                            <p>$000</p> 
                        </div>      
                    </div>
                    <div class="flex flex-col items-center">
                        <MudCard Class="w-[144px] h-[180px] md:w-[124px] md:h-[160px] lg:w-[164px] lg:h-[210px] xl:w-[220px] xl:h-[280px] 2xl:w-[280px] 2xl:h-[350px] bg-[var(--mud-palette-primary-lighten)] rounded-[16px] flex justify-center items-center shadow-lg px-4">
                            <div>
                                <MudImage Src="/assets/products/lettuce.png"/>
                            </div>
                        </MudCard>
                        <div class="text-center">
                            <p class="tracking-tight font-[900] my-[7px] lg:my-[10px] xl:my-[20px]">PRODUCT #1</p> 
                            <p>$000</p> 
                        </div>  
                    </div>
                    <div class="flex flex-col items-center">
                        <MudCard Class="w-[144px] h-[180px] md:w-[124px] md:h-[160px] lg:w-[164px] lg:h-[210px] xl:w-[220px] xl:h-[280px] 2xl:w-[280px] 2xl:h-[350px] bg-[var(--mud-palette-primary-lighten)] rounded-[16px] flex justify-center items-center shadow-lg">
                            <div>
                                <MudImage Src="/assets/products/avocado.png"/>
                            </div>
                        </MudCard>
                        <div class="text-center">
                            <p class="tracking-tight font-[900] my-[7px] lg:my-[10px] xl:my-[20px]">PRODUCT #1</p> 
                            <p>$000</p> 
                        </div>   
                    </div>
                    <div class="flex flex-col items-center">
                        <MudCard Class="w-[144px] h-[180px] md:w-[124px] md:h-[160px] lg:w-[164px] lg:h-[210px] xl:w-[220px] xl:h-[280px] 2xl:w-[280px] 2xl:h-[350px] bg-[var(--mud-palette-primary-lighten)] rounded-[16px] flex justify-center items-center shadow-lg px-4">
                            <div>
                                <MudImage Src="/assets/products/eggplant.png"/>
                            </div>
                        </MudCard>
                        <div class="text-center">
                            <p class="tracking-tight font-[900] my-[7px] lg:my-[10px] xl:my-[20px]">PRODUCT #1</p> 
                            <p>$000</p> 
                        </div>   
                    </div>
                    <div class="hidden lg:flex flex-col items-center">
                        <MudCard Class="w-[164px] h-[210px] xl:w-[220px] xl:h-[280px] 2xl:w-[280px] 2xl:h-[350px] bg-[var(--mud-palette-primary-lighten)] rounded-[16px] flex justify-center items-center shadow-lg px-4">
                            <div>
                                <MudImage Src="/assets/products/apple.png"/>
                            </div>
                        </MudCard>
                        <div class="text-center">
                            <p class="tracking-tight font-[900] my-[7px] lg:my-[10px] xl:my-[20px]">PRODUCT #1</p> 
                            <p>$000</p> 
                        </div>   
                    </div>
                    <div class="hidden lg:max-xl:flex flex-col items-center">
                        <MudCard Class="w-[164px] h-[210px] xl:w-[220px] xl:h-[280px] 2xl:w-[280px] 2xl:h-[350px] bg-[var(--mud-palette-primary-lighten)] rounded-[16px] flex justify-center items-center shadow-lg px-4">
                            <div>
                                <MudImage Src="/assets/products/apple.png"/>
                            </div>
                        </MudCard>
                        <div class="text-center">
                            <p class="tracking-tight font-[900] my-[7px] lg:my-[10px] xl:my-[20px]">PRODUCT #1</p> 
                            <p>$000</p> 
                        </div>   
                    </div>
                </div> 
            </div>
            <div class="flex justify-center mt-auto">
                <MudButton Class="w-[150px] md:w-[200px] xl:w-[325px] h-[43px] md:h-[74px] lg:max-xl:w-[220px] lg:max-xl:h-[60px] normal-case text-[15px] md:text-[20px] lg:text-[22px] xl:text-[32px] bg-[var(--mud-palette-success-lighten)] rounded-[16px] font-[800] shadow-lg items-center">
                    See All Products
                </MudButton>
            </div>
        </div>    
        <div>
            <div class="md:hidden">
                <MudImage Src="/assets/landing/featured/beige-bg-bottom.webp"/>
            </div>
            <div class="hidden md:block">
                <MudImage
                    Src="/assets/landing/featured/desktop/beige-bg-bottom.webp"
                    Class="w-full" />
            </div>
        </div>
    </div>
</div>