<div class="lg:h-full xl:h-screen xl:w-screen px-[40px] md:px-12 lg:px-20 xl:py-[100px] 2xl:px-44">
    <div class="work-sans relative ">
        <h1 class="text-[38px] xl:text-[64px] font-[700] xl:font-[800] text-center mt-[100px] lg:mt-0 mb-[25px] md:mb-[40px]">
            How It Works
        </h1>
        <MudCard Class="flex flex-col lg:flex-row items-center lg:justify-around bg-[var(--mud-palette-success-lighten)] w-full h-[750px] lg:h-[500px] xl:h-[600px] 2xl:h-[650px] rounded-[16px] py-[60px] xl:py-0 xl:pl-20 relative z-40">
            <div class=" lg:hidden w-[220px] md:w-[300px] xl:w-[350px] 2xl:w-[420px]">
                <MudImage Src="/assets/landing/steps/1/step1-img.svg" Class="w-full"/>
            </div>
            <div class="hidden lg:block w-[220px] md:w-[300px] xl:w-[350px] 2xl:w-[420px]">
                <MudImage Src="/assets/landing/steps/1/step1-lg-img.svg" Class="w-full"/>
            </div>           
            <div class="flex flex-col items-center lg:items-start px-8">
                <p class="leading-[50px] md:leading-[20px] text-[24px] md:text-[30px] xl:text-[25px] 2xl:text-[30px] font-[500] md:font-[400] tracking-wider underline mt-[50px] mb-[20px]">
                    STEP # 1
                </p>
                <h1 class="text-[35px] md:text-[45px] xl:text-[60px] 2xl:text-[70px] font-[800] xl:text-left">Sign Up</h1>
                <p class="w-full lg:w-[300px] xl:w-[500px] 2xl:w-[650px] min-w-[100px] text-[21px] xl:text-[27px] 2xl:text-[35px] text-center lg:text-left mt-[20px]  montserrat word-wrap">
                    Join the Freshlay community by signing up and creating your account.
                </p>
            </div>
            <div class="flex lg:flex-col lg:h-[120px] xl:h-[140px] justify-between w-[140px] lg:w-[50px] mt-auto lg:!mt-0">
                <MudCard Class="w-[18px] h-[18px] bg-[var(--mud-palette-primary)] rounded-full"></MudCard>
                <MudCard Class="w-[18px] h-[18px] bg-[var(--mud-palette-tertiary-darken)] rounded-full"></MudCard>
                <MudCard Class="w-[18px] h-[18px] bg-[var(--mud-palette-tertiary-darken)] rounded-full"></MudCard>
                <MudCard Class="w-[18px] h-[18px] bg-[var(--mud-palette-tertiary-darken)] rounded-full"></MudCard>
            </div>
        </MudCard>
        <div>
            <MudCard Class="bg-[var(--mud-palette-info)] h-[50%] w-full rounded-[16px] absolute bottom-[-40px] left-1/2 transform -translate-x-1/2 z-30 shadow-lg"></MudCard>
            <MudCard Class="bg-[var(--mud-palette-warning)] h-[50%] w-full rounded-[16px] absolute bottom-[-80px] left-1/2 transform -translate-x-1/2 z-20 shadow-lg"></MudCard>
            <MudCard Class="bg-[var(--mud-palette-primary)] h-[50%] w-full rounded-[16px] absolute bottom-[-120px] left-1/2 transform -translate-x-1/2 z-10 shadow-lg"></MudCard>
        </div>
    </div>
</div>

