<div classs="xl:h-screen ">
    <div class="w-screen bg-[var(--mud-palette-primary)] text-[var(--mud-palette-primary-lighten)] flex flex-col items-center justify-center text-center px-[40px] md:px-12 lg:px-20 lg:py-[50px] xl:py-[120px] mt-[130px] lg:mt-[150px] xl:mt-[200px] 2xl:px-44 h-[1000px] md:h-[1100px] lg:h-[1200px] xl:h-full ">
        <div>
            <div class="w-[277px] lg:w-[600px] xl:hidden">
                <MudImage Src="/assets/general/white-logo.png"/>
            </div>
            <div class="xl:block 2xl:h-[230px] hidden pr-[50px] 2xl:!pr-0 2xl:mb-[100px]">
                <MudImage Src="/assets/general/logo-footer-cropped.svg" Class="xl:w-[100vw] "/>
            </div>
        </div>
        <div class="w-full flex flex-col ">
            <div class="w-full flex flex-col xl:flex-row md:justify-between h-[600px] md:h-[700px] xl:h-full xl:mt-[100px]">
                <div class="flex flex-col justify-between items-center w-full xl:w-[600px] 2xl:w-[750px] h-[300px] md:h-[300px] lg:h-[200px] mt-[30px] xl:mt-0 2xl:mr-[50px]">
                    <div class="text-[32px] xl:text-[30px] 2xl:text-[40px] work-sans font-[600] w-[320px] lg:w-full leading-[35px] xl:text-left">
                        <p>Freshness delivered to your door.</p>
                    </div>
                    <MudForm Class="w-[320px] md:w-[370px] lg:w-[600px] xl:w-full h-[150px] md:h-[180px] lg:h-[100px] rounded-[16px] items-center lg:pl-5 flex flex-col lg:flex-row justify-center bg-transparent-85 !border-none pt-[15px] md:pt-[30px] lg:pt-0">
                        <MudTextField
                            T="string"
                            Placeholder="What's your email address?"
                            Style="color:white; width:230px;"
                            Class="w-[500px] xl:w-[800px] flex justify-center items-center "/>
                        <MudButton Class="h-[90px] lg:h-full w-full normal-case text-[34px] font-[900] px-6 lg:px-4 !text-[var(--mud-palette-primary-lighten)]">
                            Subscribe
                        </MudButton>
                    </MudForm>
                </div>
                <div class="mt-[30px] md:mt-[50px] xl:mt-0 flex flex-col justify-between lg:items-center xl:items-start h-[180px] md:h-[200px] xl:max-2xl:h-[170px] lg:text-left xl:w-[140px] 2xl:w-[150px] ">
                    <MudLink Href="#" Class="custom-link text-[24px] md:text-[32px] xl:max-2xl:text-[25px] font-[700]">About Us</MudLink>
                    <MudLink Href="#" Class="custom-link text-[24px] md:text-[32px] xl:max-2xl:text-[25px] font-[700]">Link2</MudLink>
                    <MudLink Href="#" Class="custom-link text-[24px] md:text-[32px] xl:max-2xl:text-[25px] font-[700]">Link3</MudLink>
                    <MudLink Href="#" Class="custom-link text-[24px] md:text-[32px] xl:max-2xl:text-[25px] font-[700]">Link4</MudLink>
                </div>
                <div class="flex flex-col justify-between lg:items-center xl:items-start mt-[15px] xl:mt-0  h-[118px] md:h-[150px] xl:max-2xl:h-[120px] lg:text-left xl:w-[230px] 2xl:w-[380px]">
                    <MudLink Href="#" Class="custom-link text-[18px] md:text-[28px] xl:max-2xl:text-[21px] font-[400]">Contact Us</MudLink>
                    <MudLink Href="#" Class="custom-link text-[18px] md:text-[28px] xl:max-2xl:text-[21px] font-[400]">Privacy Policy</MudLink>
                    <MudLink Href="#" Class="custom-link text-[18px] md:text-[28px] xl:max-2xl:text-[21px] font-[400] xl:w-[250px]">Terms & Conditions</MudLink>
                </div>
            </div>
            <div class="flex flex-col items-center xl:flex-row justify-between md:mt-[20px]">
                <div class="w-[315px] flex justify-around md:justify-between mt-[40px] xl:mt-[50px]">
                    <MudButton Class="w-[60px] h-[60px] rounded-full bg-[var(--mud-palette-primary-lighten)] hover:bg-[var(--mud-palette-success-lighten)] flex justify-center items-center">
                        <MudLink Href="#">
                            <MudImage Src="/assets/landing/socials/facebook.png" Class="w-full"/>
                        </MudLink>  
                    </MudButton>
                    <MudButton Class="w-[60px] h-[60px] rounded-full bg-[var(--mud-palette-primary-lighten)] hover:bg-[var(--mud-palette-success-lighten)] flex justify-center items-center">
                        <MudLink Href="#">
                            <MudImage Src="/assets/landing/socials/instagram.png" Class="w-full"/>
                        </MudLink>  
                    </MudButton>
                    <MudButton Class="w-[60px] h-[60px] rounded-full bg-[var(--mud-palette-primary-lighten)] hover:bg-[var(--mud-palette-success-lighten)] flex justify-center items-center">
                        <MudLink Href="#">
                            <MudImage Src="/assets/landing/socials/tiktok.png" Class="w-full"/>
                        </MudLink>  
                    </MudButton>
                    <MudButton Class="w-[60px] h-[60px] rounded-full bg-[var(--mud-palette-primary-lighten)] hover:bg-[var(--mud-palette-success-lighten)] flex justify-center items-center">
                        <MudLink Href="#">
                            <MudImage Src="/assets/landing/socials/x.png" Class="w-full"/>
                        </MudLink>  
                    </MudButton>
                </div>
                <p class="text-[18px] md:text-[24px] mt-[50px]">&copy; 2023 Freshlay. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>