@using Freshlay.Web.Components.Sections.FAQ

<div class="flex flex-col justify-center items-center  work-sans md:mt-20 lg:mt-0 xl:h-max xl:w-screen px-[40px] md:px-12 lg:px-20 lg:py-[10px] xl:py-[100px] 2xl:px-44">
    <h1 class="text-[38px] md:text-[40px] xl:text-[64px] font-[700] text-center mt-[40px] mb-[50px] md:mb-[70px] leading-[40px]">
        Frequently Asked Questions
    </h1>
    <MudExpansionPanels Elevation="0" Class="montserrat text-[15px] md:text-[20px] xl:text-[23px] 2xl:text-[27px] font-normal w-full leading-[25px]">
        <div class="w-full h-[2px] bg-[var(--mud-palette-primary-lighten)]"></div>
        <First />
        <div class="w-full h-[2px] bg-[var(--mud-palette-primary-lighten)]"></div>
        <Second />
        <div class="w-full h-[2px] bg-[var(--mud-palette-primary-lighten)]"></div>
        <Third />
        <div class="w-full h-[2px] bg-[var(--mud-palette-primary-lighten)]"></div>
        <Fourth />
        <div class="w-full h-[2px] bg-[var(--mud-palette-primary-lighten)]"></div>
    </MudExpansionPanels>
</div>