<MudExpansionPanel
    @bind-IsExpanded="isOpen"
    HideIcon="true"
    Class="py-[6px] lg:py-[20px] justify-between w-full last:text-[var(--mud-palette-tertiary)]">
    <TitleContent>
        <div class="py-[10px] flex justify-between items-center w-full ">
            <MudText Class="text-[var(--mud-palette-primary)] flex justify-between before:content-['04'] before:mr-[30px] work-sans text-[18px] md:text-[25px] lg:text-[30px] xl:text-[45px] font-[800] text-left leading-[20px] xl:leading-[40px]">When and how are orders delivered?</MudText>
            <MudImage
                Src="@(isOpen ? "/assets/landing/faq/desktop/collapse.svg" : "/assets/landing/faq/desktop/expand.svg")" Class="w-[27px] lg:w-[35px] xl:w-[50px] 2xl:w-[70px]"/>
        </div>
    </TitleContent>
    <ChildContent>
        <div class="text-[var(--mud-palette-tertiary)]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida quis blandit turpis cursus in.
        </div>
    </ChildContent> 
</MudExpansionPanel>

@code
{
    bool isOpen;
}