<div class="flex justify-between items-center lg:absolute lg:top-[15px] lg:left-0 lg:w-full md:px-0 py-8 lg:px-20 2xl:px-44  ">
    <div class="flex items-center w-[165px] md:w-[500px] md:h-[60px]">
        <div class="w-[50px] md:hidden">
            <MudImage Src="assets/landing/menu.svg" />
        </div>
        <div class="ml-[20px] md:ml-0 md:w-32 lg:w-52">
            <MudImage Src="assets/general/logo.svg" />
        </div>
    </div>
    <div>
        <MudCard Class="flex justify-center bg-[var(--mud-palette-success-lighten)] rounded-[14px] w-[100px] md:w-[120px] lg:w-[160px] h-[40px] lg:h-full">
        <MudButton Class="normal-case font-[1000] text-[15px] md:text-[18px] lg:text-[25px] w-full h-full">
            Open App
        </MudButton>
    </MudCard>
    </div>
    
</div>

