<div class="px-[20px] pt-[20px] pb-[23px]">
    <div class="flex">
        <div class="flex w-[10px] xl:w-[15px]">
            <MudImage Src="/assets/dashboard/$.svg" />
        </div>
        <span class="work-sans text-[20px] xl:text-[32px] font-[700]">12.55</span>
    </div>
    <div class="leading-[20px]">
        <span class="hidden xl:block text-[16px] text-[var(--mud-palette-success)]">$1.44 / 100G</span>
    </div>
    <p class="text-[14px] xl:text-[22px] xl:my-[10px]">Carrot Salad 800gr</p>
    <div class="flex items-center">
        <div class="w-[18px] flex">
            <MudImage Src="/assets/landing/reviews/1-star.svg"/>
        </div>
        <span class="text-[14px] xl:text-[16px] ml-[5px]">5.0</span>
    </div>
    <MudButton Class="w-[148px] xl:w-full h-[33px] xl:h-[48px] bg-[var(--mud-palette-primary)] rounded-[10px] mt-[10px] xl:mt-[25px]">
        <div class="text-[16px] xl:text-[20px] text-[var(--mud-palette-secondary-darken)] normal-case">
            Add to cart
        </div>
    </MudButton>
</div>