<div class="xl:w-full inline-flex xl:flex mt-[20px] xl:mt-[50px]">
    <MudButton
        Class="w-[340px] xl:w-[473px] h-[180px] bg-[var(--mud-palette-warning-darken)] rounded-[18px] flex items-end p-[20px] shadow-lg"
        EndIcon="@Icons.Material.Filled.ArrowForwardIos">
        <p class="normal-case font-[900] w-full text-start text-[18px]">View Products</p>
    </MudButton>
    <MudButton
        Class="w-[340px] xl:w-[473px] h-[180px] bg-[var(--mud-palette-info-darken)] rounded-[18px] flex items-end p-[20px] mx-[20px] shadow-lg"
        EndIcon="@Icons.Material.Filled.ArrowForwardIos">
        <p class="normal-case font-[900] w-full text-start text-[18px]">View Products</p>
    </MudButton>
    <MudButton
        Class="w-[340px] xl:w-[473px] h-[180px] bg-[var(--mud-palette-primary-lighten)] rounded-[18px] flex items-end p-[20px] shadow-lg"
        EndIcon="@Icons.Material.Filled.ArrowForwardIos">
        <p class="normal-case font-[900] w-full text-start text-[18px]">View Products</p>
    </MudButton>
</div>